<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row g-3 align-items-center py-2">

  <div class="row g-3 align-items-center">
    <div class="col-2 text-end">
      <%= form.label :name, "Назва категорії", class: "form-label" %>
    </div>
    <div class="col-3">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="row g-3 align-items-center">
    <div class="col-2 text-end">
      <%= form.label :description, "Короткий опис", class: "form-label" %>
    </div>
    <div class="col-6">
      <%= form.text_field :description, class: "form-control" %>
    </div>
  </div>

   <div class="row g-3 align-items-center">
    <div class="col-1 offset-2" style="margin-bottom:10px">
      <%= form.submit "Зберегти", class: "btn btn-primary bg-gradient" %>
    </div>
    <div class="col-2">
     <button type="reset" class="btn btn-primary bg-gradient mx-3" style="margin-bottom:10px">
     Очистити
     </button>
    </div>
  </div>

</div>
<% end %>
