<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row g-3 align-items-center py-2">
  <div class="col-2 text-end">
    <label for="operation_category_id" class="form-label">Назва Категорії</label>
  </div>
  <div class="col-3">
  <select name="operation[category_id]" id="operation_category_id" class="form-select">
    <%= Category.all.each do | categor | %>
    <option value=<%= categor.id %>>
    <%= categor.name %>
    </option>
    <% end %>
  </select>
</div>

<div class="row g-3 align-items-center">
  <div class="col-2 text-end">
  <%= form.label :otype, "Тип операції", class:"form-label" %>
  </div>
  <div class="col-3">
    <select name="operation[otype]" id="otype", class="form-select">
      <%= Operation.otypes.keys.each do |key| %>
      <option><%= key %></option>
      <% end %>
    </select>
  </div>

  <div class="row g-3 align-items-center">
    <div class="col-2 text-end">
      <%= form.label :amount, "Сума", class: "form-label" %>
    </div>
    <div class="col-2">
      <%= form.text_field :amount, class: "form-control" %>
    </div>
  </div>

  <div class="row g-3 align-items-center">
    <div class="col-2 text-end">
      <%= form.label :description, "Короткий Опис", class: "form-label" %>
    </div>
    <div class="col-6">
      <%= form.text_field :description, class: "form-control" %>
    </div>
  </div>

  <div class="row g-3 align-items-center">
    <div class="col-2 text-end">
      <%= form.label :odate, "Дата YYYY-MM-DD", class: "form-label" %>
    </div>
    <div class="col-3">
      <%= form.date_field :odate, class: "form-control" %>
    </div>
  </div>

  <div class="row g-3 align-items-center">
    <div class="col-1 offset-2" style="margin-bottom:10px">
      <%= form.submit "Зберегти", class: "btn btn-primary bg-gradient" %>
    </div>
    <div class="col-2">
     <button type="reset" class="btn btn-primary bg-gradient mx-3" style="margin-bottom:10px">
     Очистити
     </button>
    </div>
  </div>

    <% end %>
  </div>
</div>
