<h1 class="text-center my-4"><%= operation.description %></h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Категорія</th>
      <th>Опис</th>
      <th>Тип операції</th>
      <th>Сума</th>
      <th>Дата</th>
    </tr>
  </thead>
  <tbody>
    <td><%= operation.category.name %></td>
    <td><%= operation.description %></td>
    <td><%= operation.otype %></td>
    <td><%= operation.amount %></td>
    <td><%= operation.odate %></td>
  </tbody>
</table>

<div class="col">
  <%= link_to "Всі операції", operations_path, class: "btn btn-success" %>
  <%= link_to "Редагувати", edit_operation_path(operation), class: "btn btn-info" %>
  <%= button_to "Видалити", operation, method: :delete, class: "btn btn-danger" %>
</div>

